.experiencePage {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.topBannerExperiencePg {
  width: 100%;
  background: #5c8fc5;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
  height: 126px;
  position: absolute;
}

.leftColumnExperiencePg {
  height: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-left: 4%;
  margin-right: 4%;
  z-index: 1;

}

.profilePhotoExperiencePg {
  width: 150px;
  height: 150px;
  align-self: center;
  flex-shrink: 0;
  border-radius: 16px;
  border: 6px solid #fff;
  background: lightgray 50% / cover no-repeat;
}

.name {
  color: #434343;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 8px;
  margin-bottom: 0px;
}

.job {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #434343;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.locationExperiencePg {
  display: flex;
  margin: 0px;
  align-self: center;
}

.locationIcon {
  width: 24px;
  height: 24px;
}

.locationTxt {
  margin: 0px;
  width: auto;
  color: #434343;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
}

hr {
  width: 80%;
  align-self: center;
  margin: 24px;
  border: 0.5px solid #c1bcbc;
}

.buttonsExperiencePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstLineLinkedIn {
  display: flex;
  border-radius: 8px;
  border: 2px solid #434343;
  background: #5c8fc5;
  width: 141px;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.linkedinIcon {
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 8px;
}

.linkedinTxt {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.secondLineButtonsExperience {
  display: flex;
  flex-direction: colum;
  margin: 12px;
  gap: 12px;
}

.iconsExperiences {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  border: 2px solid #434343;
  background: rgba(253, 188, 75, 0);
}

.downloadGitHub {
  width: 27px;
  height: 27px;
  background-size: cover;
  cursor: pointer;
}

.RightColumnExperiencePage {
  z-index: 1;
  margin: 8px;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 4%;
  flex: 1 1 auto;
  width: 30%;
}

.horizontalMenuExperiencePage {
  display: flex;
  gap: 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 4%;
  cursor: pointer;
}

.contentExperiencePage {
  border-radius: 16px;
  border: 2px solid #ebe9e8;
  background: #fff;
  height: auto;
  padding: 4%;
}

.photo {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-top: 4px;
  border-radius: 8px;
  border: 2px solid #ebe9e8;
  background: lightgray 50% / cover no-repeat;
}

.resume h3 {
  margin: 0px;
  color: #434343;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.resume p {
  margin: 0px;
  color: #434343;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texts {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

.allContentWork {
  display: flex;
  gap: 12px;
}

.jobDescription {
  flex-shrink: 0;
  color: #434343;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.allContentWork2 {
    display: flex;
    flex: 0 0 calc(50% - 20px);
    gap: 12px;
  }

  .nonDegree{
    display: flex;
    flex-wrap: wrap;
  }