.WindowsMobileContainer {
  width: 100vw;
  height: calc(100vh - (140px));
  position: absolute;
  top: 40px;
  overflow-x: hidden;
}

.WindowMobile {
  width: 100vw;
  height: calc(100vh - (140px));
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background: #f4efee;
}

.IamHereAsASafeSpace {
  width: 100vw;
  height: 130px;
  background: #f4efee;
  overflow: hidden;
  border: red 2px solid;
}

.pageComponentWrapper {
  height: auto;
  width: 100vw;
}
