.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.footer {
  background-color: #d9d9d9;
  border: 2px solid #434343;
  border-bottom: none;
  display: flex;
  width: 98vw;
  align-self: center;
  padding: 4px 32px;
  border-radius: 66px 66px 0px 0px;
  height: 104px;
  flex-shrink: 0;
  position: relative;
  align-items: center;
}

.clockWrapper {
  width: auto;
  height: auto;
  display: flex;
  /* position: absolute; */
}

.clockDateTime {
  align-self: center;
  margin-left: 8px;
  margin-right: 8px;
}

.clockIcon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-left: 8px;
}

.wrapper {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(180px, 150px));
  grid-template-columns: repeat(auto-fill, minmax(50px, 150px));
  row-gap: 20px;
  column-gap: 100px;
  grid-auto-flow: column;
  border: none;
  margin-top: 45px;
  margin-left: 45px;
  width: 92%;
  margin-bottom: 20px;
}

.folders-container {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent !important;
  cursor: pointer;
}

.folder {
  display: flex;
  padding: 10px;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
}

.page-name {
  margin: 0;
  color: #434343;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.window {
  background-color: white;
  position: absolute;
  border: 2px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
  height: auto;
}

/* .homeMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 300px;
  position: absolute;
  background-color: red;
  bottom: 0;
} */

.homeButtonMenu {
  /* width: auto;
  height: auto; */
  position: absolute;
  bottom: 112px;
  left: 32px; 
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  border: 2px solid #434343;
  background: #d9d9d9;
  box-shadow: 8px 8px 0px 0px rgba(67, 67, 67, 0.3);
  padding: 16px;
}

.homeMenuItem {
  display: flex;
  cursor: pointer;
  gap: 8px;
  border: none;
  align-items: center;
  background-color: transparent;
}

.pageName {
  color: #434343;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.homeButton {
  width: 126px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 64px;
  border: 2px solid #434343;
  background: #c98181;
  box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.4) inset,
    -6px -6px 0px 0px rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  /* margin-bottom: 40; */
}

.homeButtonContainer {
  margin-top: auto;
  margin-bottom: 40;
  padding-bottom: 4px;
}

.activeWindowsWrapper {
  flex: auto;
  display: flex;
  justify-content: flex-start;
  row-gap: 3px;
  margin-left: 10px;
}

.miniatures {
  background-color: white;
  width: 150px;
  height: 48px;
  color: #434343;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 16px;
  border: 2px solid #434343;
  background: #e3e3e3;
  box-shadow: 4px 4px 0px 0px #fff inset,
    -6px -6px 0px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
  margin-left: 6px;
}

.miniaturesActivated {
  width: 150px;
  height: 48px;
  border-radius: 16px;
  border: 2px solid #434343;
  background: #c8c8c8;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
  margin-left: 6px;
}

/* Project Style ------------------------------------ */

.project-container {
  display: flex;
}

.project-list {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.project-list h2 {
  margin-top: 0;
}

.project-list ul {
  list-style: none;
  padding: 0;
}

.project-list li {
  cursor: pointer;
  padding: 5px;
}

.project-list li.active {
  background-color: #eee;
}

.project-details {
  flex: 2;
  padding: 10px;
}

.project-details h2 {
  margin-top: 0;
}

.project-details h3 {
  margin-top: 0;
}
