.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.wrapper {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(180px, 150px));
  grid-template-columns: repeat(auto-fill, minmax(50px, 150px));
  row-gap: 10px;
  column-gap: 40px;
  grid-auto-flow: column;
  border: none;
  margin-top: 45px;
  margin-left: 45px;
  width: 92%;
  margin-bottom: 20px;
}

.folders-container {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  cursor: pointer;
}

.folder {
  display: flex;
  width: 85px;
  height: 85px;
  flex-shrink: 0;
  background-size: cover;
}

.page-name {
  margin: 0;
  color: #434343;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ---------------------------------- window ---------------------------------- */
.window {
  position: absolute;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
  height: auto;
  border-radius: 16px;
  border: 2px solid #434343;
  background: #efebdd;
  box-shadow: 8px 8px 0px 0px rgba(67, 67, 67, 0.3);
}

.handle {
  display: flex;
  flex-direction: column;
  height: auto;
  /* align-items: center; */
  /* margin-top: 0; */
  padding: 8px;
  flex-shrink: 0;
  border-radius: 16px 16px 0px 0px;
  border-bottom: 2px solid #434343;
  background: #c98181;
  box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.4) inset,
    -6px -6px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.allButtonsFirstLine {
  display: flex;
  gap: 4px;
}

.buttonsHandleWindow {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pageNameHandle {
  color: #fff;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  flex: auto;
  margin-right: 92px;
}

.secondLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AllbuttonsSecondLine {
  display: flex;
  gap: 10px;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-left: 8px;
}

.buttonsHandleWindowSL {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fakeLink {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content:flex-start;
  border-radius: 8px;
  border: 2px solid #434343;
  padding: 8px;
  background: #fff;
  height: 35px;
  color: #434343;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: text;
  
}
/* ---------------------------------- END window ------------------------------- */

/*  ----------------------------------- MENU ----------------------------------- */

.homeMenu {
  /* width: auto;
  height: auto; */
  position: absolute;
  margin-top: 0;
  bottom: 112px;
  left: 32px;
  border-radius: 16px;
  border: 2px solid #434343;
  background: #efebdd;
  box-shadow: 8px 8px 0px 0px rgba(67, 67, 67, 0.3);
}

.topStyle {
  height: 14px;
  width: auto;
  border-bottom: 2px solid #434343;
  background: #c98181;
  border-radius: 16px 16px 0px 0px;
}

.homeMenuWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.homeMenuItems {
  display: flex;
  cursor: pointer;
  gap: 8px;
  border: none;
  align-items: center;
  background-color: transparent;
}

.pageName {
  color: #434343;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.arrow {
  background-size: cover;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menuProjects {
  position: absolute;
  margin-left: 85%;
  margin-top: -65%;
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 16px;
  border: 2px solid #434343;
  background: #efebdd;
  box-shadow: 8px 8px 0px 0px rgba(67, 67, 67, 0.3);
}

.menuProjectsList {
  cursor: pointer;
  color: #434343;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 16px;
}

.menuProjectsList ul {
  list-style-type: none;
}

ul {
  list-style-type: none;
}
/*  ----------------------------------- FIM DO MENU ----------------------------------- */

/*  ----------------------------------- FOOTER ----------------------------------- */

.footer {
  background-color: #efebdd;
  border: 2px solid #434343;
  border-bottom: none;
  display: flex;
  width: 98vw;
  align-self: center;
  padding: 4px 32px;
  border-radius: 66px 66px 0px 0px;
  height: 90px;
  flex-shrink: 0;
  position: relative;
  align-items: center;
}

.clockWrapper {
  width: auto;
  height: auto;
  display: flex;
  /* position: absolute; */
}

.clockDateTime {
  align-self: center;
  margin-left: 8px;
  margin-right: 8px;
}

.clockIcon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-left: 8px;
  background-size: cover;
}

.homeButton {
  width: 140px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 64px;
  border: 2px solid #434343;
  background: #c98181;
  box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.4) inset,
    -6px -6px 0px 0px rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  /* margin-bottom: 40; */
}

.homeButtonContainer {
  margin-top: auto;
  margin-bottom: 40;
  padding-bottom: 4px;
}

.activeWindowsWrapper {
  flex: auto;
  display: flex;
  justify-content: flex-start;
  row-gap: 3px;
  margin-left: 10px;
}

.miniatures {
  width: 140px;
  height: 48px;
  color: #434343;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 16px;
  border: 2px solid #434343;
  background: #efebdd;
  box-shadow: 4px 4px 0px 0px #fff inset,
    -6px -6px 0px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
  margin-left: 6px;
}

.miniaturesActivated {
  width: 150px;
  height: 48px;
  border-radius: 16px;
  border: 2px solid #434343;
  background: #b5bfbf;
  color: #434343;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
  margin-left: 6px;
}

.miniatures:hover {
  background: #b5bfbf;
  color: #434343;
  box-shadow: 6px 6px 0px 0px rgba(26, 25, 25, 0.25) inset;
}

/*  ----------------------------------- FIM FOOTER ----------------------------------- */


/*  ----------------------------------- PROJECTS PAGE STYLE ----------------------------------- */

.project-container {
  display: flex;
}

.project-list {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.project-list h2 {
  margin-top: 0;
}

.project-list ul {
  list-style: none;
  padding: 0;
}

.project-list li {
  cursor: pointer;
  padding: 5px;
}

.project-list li.active {
  background-color: #eee;
}

.project-details {
  flex: 2;
  padding: 10px;
}

.project-details h2 {
  margin-top: 0;
}

.project-details h3 {
  margin-top: 0;
}
/*  ----------------------------------- FIM PROJECTS PAGE STYLE ----------------------------------- */